<a href="https://colab.research.google.com/github/RoyalWeden/AICamp21/blob/main/AI_Camp_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is the project or what does the project do?

The goal of my project is to predict the amount of jobs created and retained from a loan to a business, as well as to predict the dollar amount of a loan to approve.

# How is it helpful for the community or environment?

The main benefits of this project is that it allows banks to choose what businesses to provide loans to that best help the job market and how much of a loan to provide the business with. Right now especially, a lot of people have lost their jobs due to the pandemic, and many business are low on money to provide for infrastructure, employees, and the products and servies they sell.

# How did I implement it using the tools discussed in the course? What machine learning concepts were used?

I implemented this project through both linear regression and an artificial neural network. As inputs, this neural network takes in the borrower's city, state, and zipcode, bank name and state, North American industry classification system code (NAICS), length of term (months), number of business employees, is a new or existing business, is urban or rural, if real estate was used, and if a recession happened. As outputs, the linear regression and artificial neural network result with the number of jobs created, the number of jobs retained, and the gross amount of loan approved by the bank and the SBA. To preprocess the data, I had to convert the categorical columns through one hot encoding. I also had to convert the numerical columns through standard scaling. Lastly, I dropped NA rows.

The data I am using to create the neural network is from kaggle with information on Small Business Administration Loans. As discussed by the data provider, Sean, "small businesses have been the primary source of employment in the United States. Helping small businesses with job creation, reduces unemployment, and as such, promotes economic growth."

# Authenticating Kaggle API using kaggle.json

I found this code to authenticate the Kaggle API from a public Colab notebook that you can view [here](https://colab.research.google.com/github/corrieann/kaggle/blob/master/kaggle_api_in_colab.ipynb#scrollTo=0HtGf0HEXEa5).

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 66 bytes

# Downloading SBA Loans Case dataset

The SBA Loans Kaggle data set can be viewed on Kaggle [here](https://www.kaggle.com/larsen0966/sba-loans-case-data-set). Furthermore, to get more information on the dataset, go [here](https://amstat.tandfonline.com/doi/full/10.1080/10691898.2018.1434342).

In [ ]:
!kaggle datasets download -d larsen0966/sba-loans-case-data-set

Downloading sba-loans-case-data-set.zip to /content
  0% 0.00/112k [00:00<?, ?B/s]
100% 112k/112k [00:00<00:00, 40.8MB/s]

In [ ]:
!unzip sba-loans-case-data-set.zip

Archive:  sba-loans-case-data-set.zip
  inflating: SBAcase.11.13.17.csv

# Load dataset

In [ ]:
import pandas as pd

sba_loans_df = pd.read_csv('SBAcase.11.13.17.csv')
sba_loans_df.head()

   Selected  LoanNr_ChkDgt  ...       xx Default
0         0     1004285007  ...  16175.0       0
1         1     1004535010  ...  17658.0       0
2         0     1005005006  ...  16298.0       0
3         1     1005535001  ...  16816.0       0
4         1     1005996006  ...  24103.0       0

[5 rows x 35 columns]

In [ ]:
sba_loans_df.shape

(2102, 35)

# Data Preprocessing

In [ ]:
from sklearn.preprocessing import StandardScaler
from pandas import get_dummies
import numpy as np

Remove unnecessary columns

In [ ]:
sba_loans_df = sba_loans_df.drop(columns=['Selected', 'LoanNr_ChkDgt', 'Name', 'ApprovalDate', 'ApprovalFY', 'FranchiseCode', 'RevLineCr', 'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'Portion', 'xx', 'Default'])

In [ ]:
sba_loans_df

             City State    Zip  ... RealEstate Recession  daysterm
0         ANAHEIM    CA  92801  ...          0         0      1080
1        TORRANCE    CA  90505  ...          0         1      1680
2       SAN DIEGO    CA  92103  ...          0         0      1080
3       SAN DIEGO    CA  92108  ...          0         0      1080
4     LOS ANGELES    CA  91345  ...          1         0      7200
...           ...   ...    ...  ...        ...       ...       ...
2097     HIGHLAND    CA  92346  ...          0         0      1800
2098     EL CAJON    CA  92021  ...          1         0      9000
2099    CAMARILLO    CA  93012  ...          0         0      2520
2100   SUN VALLEY    CA  91352  ...          0         0      3600
2101  LOS ANGELES    CA  90068  ...          0         0      1800

[2102 rows x 18 columns]

In [ ]:
sba_loans_df.dropna(inplace=True)

In [ ]:
sba_loans_df_c = get_dummies(sba_loans_df, columns=['City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS'])

In [ ]:
sba_loans_df_c

      Term  NoEmp  NewExist  ...  NAICS_532420  NAICS_532490  NAICS_533110
0       36      1       1.0  ...             1             0             0
1       56      1       1.0  ...             0             0             0
2       36     10       1.0  ...             0             0             0
3       36      6       1.0  ...             0             0             0
4      240     65       1.0  ...             0             0             0
...    ...    ...       ...  ...           ...           ...           ...
2097    60      5       2.0  ...             0             0             0
2098   300      4       1.0  ...             0             0             0
2099    84      2       1.0  ...             0             0             0
2100   120      3       1.0  ...             0             0             0
2101    60      4       1.0  ...             0             0             0

[2098 rows x 1543 columns]

In [ ]:
scaler = StandardScaler()
scaled_sba = scaler.fit_transform(sba_loans_df_c[['Term', 'NoEmp', 'daysterm']])

In [ ]:
scaled_sba = pd.DataFrame(scaled_sba, columns=['Term', 'NoEmp', 'daysterm'])

In [ ]:
scaled_sba

          Term     NoEmp  daysterm
0    -0.970058 -0.266269 -0.970058
1    -0.756951 -0.266269 -0.756951
2    -0.970058 -0.004832 -0.970058
3    -0.970058 -0.121026 -0.970058
4     1.203632  1.592838  1.203632
...        ...       ...       ...
2093 -0.714329 -0.150075 -0.714329
2094  1.842953 -0.179124  1.842953
2095 -0.458601 -0.237221 -0.458601
2096 -0.075009 -0.208172 -0.075009
2097 -0.714329 -0.179124 -0.714329

[2098 rows x 3 columns]

In [ ]:
newexist_sba_loans = sba_loans_df_c['NewExist'].apply(lambda x: -1 if x==2 else x)
newexist_sba_loans = pd.DataFrame(newexist_sba_loans, columns=['NewExist'])

In [ ]:
sba_loans_df_c.drop(columns=['Term', 'NoEmp', 'daysterm', 'NewExist'], inplace=True)

In [ ]:
scaled_sba_loans = pd.concat([scaled_sba, newexist_sba_loans, sba_loans_df_c], axis=1)

In [ ]:
scaled_sba_loans

          Term     NoEmp  daysterm  ...  NAICS_532420  NAICS_532490  NAICS_533110
0    -0.970058 -0.266269 -0.970058  ...           1.0           0.0           0.0
1    -0.756951 -0.266269 -0.756951  ...           0.0           0.0           0.0
2    -0.970058 -0.004832 -0.970058  ...           0.0           0.0           0.0
3    -0.970058 -0.121026 -0.970058  ...           0.0           0.0           0.0
4     1.203632  1.592838  1.203632  ...           0.0           0.0           0.0
...        ...       ...       ...  ...           ...           ...           ...
2097 -0.714329 -0.179124 -0.714329  ...           0.0           0.0           0.0
2098       NaN       NaN       NaN  ...           0.0           0.0           0.0
2099       NaN       NaN       NaN  ...           0.0           0.0           0.0
2100       NaN       NaN       NaN  ...           0.0           0.0           0.0
2101       NaN       NaN       NaN  ...           0.0           0.0           0.0

[2102 rows x 1543 columns]

In [ ]:
scaled_sba_loans.dropna(inplace=True)
scaled_sba_loans

          Term     NoEmp  daysterm  ...  NAICS_532420  NAICS_532490  NAICS_533110
0    -0.970058 -0.266269 -0.970058  ...           1.0           0.0           0.0
1    -0.756951 -0.266269 -0.756951  ...           0.0           0.0           0.0
2    -0.970058 -0.004832 -0.970058  ...           0.0           0.0           0.0
3    -0.970058 -0.121026 -0.970058  ...           0.0           0.0           0.0
4     1.203632  1.592838  1.203632  ...           0.0           0.0           0.0
...        ...       ...       ...  ...           ...           ...           ...
2093 -0.714329 -0.150075 -0.714329  ...           0.0           0.0           0.0
2094  1.842953 -0.179124  1.842953  ...           0.0           0.0           0.0
2095 -0.458601 -0.237221 -0.458601  ...           0.0           0.0           0.0
2096 -0.075009 -0.208172 -0.075009  ...           0.0           0.0           0.0
2097 -0.714329 -0.179124 -0.714329  ...           0.0           0.0           0.0

[2094 rows x 1543 columns]

# Creating Linear Regression Model

In [ ]:
X = scaled_sba_loans
X.drop(columns=['CreateJob', 'RetainedJob', 'GrAppv', 'SBA_Appv'])
y = scaled_sba_loans[['CreateJob', 'RetainedJob', 'GrAppv', 'SBA_Appv']]

In [ ]:
X.shape

(2094, 1543)

In [ ]:
y.shape

(2094, 4)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.score(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

1.0

Predict for first value in data

In [ ]:
X_predict_arr = X.iloc[0]

In [ ]:
X_predict_arr

Term           -0.970058
NoEmp          -0.266269
daysterm       -0.970058
NewExist        1.000000
CreateJob       0.000000
                  ...
NAICS_532411    0.000000
NAICS_532412    0.000000
NAICS_532420    1.000000
NAICS_532490    0.000000
NAICS_533110    0.000000
Name: 0, Length: 1543, dtype: float64

In [ ]:
lr.predict([X_predict_arr])

array([[ 2.17817800e-10, -9.57758007e-10,  3.00000000e+04,
         1.50000000e+04]])

In [ ]:
y.iloc[0]

CreateJob          0.0
RetainedJob        0.0
GrAppv         30000.0
SBA_Appv       15000.0
Name: 0, dtype: float64

# Create Neural Network

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
model = Sequential()

In [ ]:
X.shape

(2094, 1543)

In [ ]:
model.add(Dense(1543, activation='relu', input_shape=(1543,)))
model.add(Dense(7, activation='relu'))
model.add(Dense(4, activation='relu'))

In [ ]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 1543)              2382392
_________________________________________________________________
dense_16 (Dense)             (None, 7)                 10808
_________________________________________________________________
dense_17 (Dense)             (None, 4)                 32
=================================================================
Total params: 2,393,232
Trainable params: 2,393,232
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_logarithmic_error', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test))

Epoch 1/100
50/50 [==============================] - 2s 25ms/step - loss: 2.9686 - accuracy: 1.0000 - val_loss: 1.5014 - val_accuracy: 1.0000
Epoch 2/100
50/50 [==============================] - 1s 20ms/step - loss: 1.3789 - accuracy: 1.0000 - val_loss: 1.2671 - val_accuracy: 1.0000
Epoch 3/100
50/50 [==============================] - 1s 21ms/step - loss: 1.1639 - accuracy: 1.0000 - val_loss: 1.0240 - val_accuracy: 1.0000
Epoch 4/100
50/50 [==============================] - 1s 21ms/step - loss: 1.4554 - accuracy: 1.0000 - val_loss: 3.5234 - val_accuracy: 1.0000
Epoch 5/100
50/50 [==============================] - 1s 21ms/step - loss: 1.5996 - accuracy: 1.0000 - val_loss: 1.1922 - val_accuracy: 1.0000
Epoch 6/100
50/50 [==============================] - 1s 21ms/step - loss: 1.1849 - accuracy: 1.0000 - val_loss: 1.0958 - val_accuracy: 1.0000
Epoch 7/100
50/50 [==============================] - 1s 22ms/step - loss: 1.1110 - accuracy: 1.0000 - val_loss: 1.0406 - val_accuracy: 1.0000
Epoch 8/100
50/50 [==============================] - 1s 21ms/step - loss: 1.0641 - accuracy: 1.0000 - val_loss: 1.0030 - val_accuracy: 1.0000
Epoch 9/100
50/50 [==============================] - 1s 22ms/step - loss: 1.0311 - accuracy: 1.0000 - val_loss: 0.9760 - val_accuracy: 1.0000
Epoch 10/100
50/50 [==============================] - 1s 23ms/step - loss: 1.0072 - accuracy: 1.0000 - val_loss: 0.9563 - val_accuracy: 1.0000
Epoch 11/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9897 - accuracy: 1.0000 - val_loss: 0.9421 - val_accuracy: 1.0000
Epoch 12/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9770 - accuracy: 1.0000 - val_loss: 0.9319 - val_accuracy: 1.0000
Epoch 13/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9679 - accuracy: 1.0000 - val_loss: 0.9250 - val_accuracy: 1.0000
Epoch 14/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9617 - accuracy: 1.0000 - val_loss: 0.9203 - val_accuracy: 1.0000
Epoch 15/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9575 - accuracy: 1.0000 - val_loss: 0.9173 - val_accuracy: 1.0000
Epoch 16/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9549 - accuracy: 1.0000 - val_loss: 0.9154 - val_accuracy: 1.0000
Epoch 17/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9532 - accuracy: 1.0000 - val_loss: 0.9143 - val_accuracy: 1.0000
Epoch 18/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9521 - accuracy: 1.0000 - val_loss: 0.9136 - val_accuracy: 1.0000
Epoch 19/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9514 - accuracy: 1.0000 - val_loss: 0.9132 - val_accuracy: 1.0000
Epoch 20/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9510 - accuracy: 1.0000 - val_loss: 0.9130 - val_accuracy: 1.0000
Epoch 21/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9508 - accuracy: 1.0000 - val_loss: 0.9128 - val_accuracy: 1.0000
Epoch 22/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9506 - accuracy: 1.0000 - val_loss: 0.9128 - val_accuracy: 1.0000
Epoch 23/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9505 - accuracy: 1.0000 - val_loss: 0.9127 - val_accuracy: 1.0000
Epoch 24/100
50/50 [==============================] - 1s 23ms/step - loss: 0.9504 - accuracy: 1.0000 - val_loss: 0.9126 - val_accuracy: 1.0000
Epoch 25/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9503 - accuracy: 1.0000 - val_loss: 0.9126 - val_accuracy: 1.0000
Epoch 26/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9502 - accuracy: 1.0000 - val_loss: 0.9126 - val_accuracy: 1.0000
Epoch 27/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9502 - accuracy: 1.0000 - val_loss: 0.9125 - val_accuracy: 1.0000
Epoch 28/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9501 - accuracy: 1.0000 - val_loss: 0.9125 - val_accuracy: 1.0000
Epoch 29/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9501 - accuracy: 1.0000 - val_loss: 0.9125 - val_accuracy: 1.0000
Epoch 30/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9500 - accuracy: 1.0000 - val_loss: 0.9124 - val_accuracy: 1.0000
Epoch 31/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9500 - accuracy: 1.0000 - val_loss: 0.9124 - val_accuracy: 1.0000
Epoch 32/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9499 - accuracy: 1.0000 - val_loss: 0.9123 - val_accuracy: 1.0000
Epoch 33/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9499 - accuracy: 1.0000 - val_loss: 0.9123 - val_accuracy: 1.0000
Epoch 34/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9498 - accuracy: 1.0000 - val_loss: 0.9122 - val_accuracy: 1.0000
Epoch 35/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9498 - accuracy: 1.0000 - val_loss: 0.9121 - val_accuracy: 1.0000
Epoch 36/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9497 - accuracy: 1.0000 - val_loss: 0.9121 - val_accuracy: 1.0000
Epoch 37/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9497 - accuracy: 1.0000 - val_loss: 0.9120 - val_accuracy: 1.0000
Epoch 38/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9496 - accuracy: 1.0000 - val_loss: 0.9120 - val_accuracy: 1.0000
Epoch 39/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9495 - accuracy: 1.0000 - val_loss: 0.9119 - val_accuracy: 1.0000
Epoch 40/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9495 - accuracy: 1.0000 - val_loss: 0.9118 - val_accuracy: 1.0000
Epoch 41/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9494 - accuracy: 1.0000 - val_loss: 0.9118 - val_accuracy: 1.0000
Epoch 42/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9493 - accuracy: 1.0000 - val_loss: 0.9117 - val_accuracy: 1.0000
Epoch 43/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9493 - accuracy: 1.0000 - val_loss: 0.9116 - val_accuracy: 1.0000
Epoch 44/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9492 - accuracy: 1.0000 - val_loss: 0.9116 - val_accuracy: 1.0000
Epoch 45/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9491 - accuracy: 1.0000 - val_loss: 0.9115 - val_accuracy: 1.0000
Epoch 46/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9490 - accuracy: 1.0000 - val_loss: 0.9114 - val_accuracy: 1.0000
Epoch 47/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9490 - accuracy: 1.0000 - val_loss: 0.9114 - val_accuracy: 1.0000
Epoch 48/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9489 - accuracy: 1.0000 - val_loss: 0.9113 - val_accuracy: 1.0000
Epoch 49/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9488 - accuracy: 1.0000 - val_loss: 0.9112 - val_accuracy: 1.0000
Epoch 50/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9487 - accuracy: 1.0000 - val_loss: 0.9111 - val_accuracy: 1.0000
Epoch 51/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9486 - accuracy: 1.0000 - val_loss: 0.9110 - val_accuracy: 1.0000
Epoch 52/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9486 - accuracy: 1.0000 - val_loss: 0.9109 - val_accuracy: 1.0000
Epoch 53/100
50/50 [==============================] - 1s 23ms/step - loss: 0.9485 - accuracy: 1.0000 - val_loss: 0.9109 - val_accuracy: 1.0000
Epoch 54/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9484 - accuracy: 1.0000 - val_loss: 0.9108 - val_accuracy: 1.0000
Epoch 55/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9483 - accuracy: 1.0000 - val_loss: 0.9107 - val_accuracy: 1.0000
Epoch 56/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9482 - accuracy: 1.0000 - val_loss: 0.9106 - val_accuracy: 1.0000
Epoch 57/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9481 - accuracy: 1.0000 - val_loss: 0.9105 - val_accuracy: 1.0000
Epoch 58/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9480 - accuracy: 1.0000 - val_loss: 0.9104 - val_accuracy: 1.0000
Epoch 59/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9479 - accuracy: 1.0000 - val_loss: 0.9103 - val_accuracy: 1.0000
Epoch 60/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9478 - accuracy: 1.0000 - val_loss: 0.9102 - val_accuracy: 1.0000
Epoch 61/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9477 - accuracy: 1.0000 - val_loss: 0.9100 - val_accuracy: 1.0000
Epoch 62/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9475 - accuracy: 1.0000 - val_loss: 0.9099 - val_accuracy: 1.0000
Epoch 63/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9474 - accuracy: 1.0000 - val_loss: 0.9098 - val_accuracy: 1.0000
Epoch 64/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9473 - accuracy: 1.0000 - val_loss: 0.9097 - val_accuracy: 1.0000
Epoch 65/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9472 - accuracy: 1.0000 - val_loss: 0.9096 - val_accuracy: 1.0000
Epoch 66/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9470 - accuracy: 1.0000 - val_loss: 0.9094 - val_accuracy: 1.0000
Epoch 67/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9469 - accuracy: 1.0000 - val_loss: 0.9093 - val_accuracy: 1.0000
Epoch 68/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9468 - accuracy: 1.0000 - val_loss: 0.9092 - val_accuracy: 1.0000
Epoch 69/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9466 - accuracy: 1.0000 - val_loss: 0.9090 - val_accuracy: 1.0000
Epoch 70/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9465 - accuracy: 1.0000 - val_loss: 0.9088 - val_accuracy: 1.0000
Epoch 71/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9463 - accuracy: 1.0000 - val_loss: 0.9087 - val_accuracy: 1.0000
Epoch 72/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9462 - accuracy: 1.0000 - val_loss: 0.9086 - val_accuracy: 1.0000
Epoch 73/100
50/50 [==============================] - 1s 23ms/step - loss: 0.9460 - accuracy: 1.0000 - val_loss: 0.9084 - val_accuracy: 1.0000
Epoch 74/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9458 - accuracy: 1.0000 - val_loss: 0.9082 - val_accuracy: 1.0000
Epoch 75/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9457 - accuracy: 1.0000 - val_loss: 0.9080 - val_accuracy: 1.0000
Epoch 76/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9455 - accuracy: 1.0000 - val_loss: 0.9079 - val_accuracy: 1.0000
Epoch 77/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9453 - accuracy: 1.0000 - val_loss: 0.9077 - val_accuracy: 1.0000
Epoch 78/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9451 - accuracy: 1.0000 - val_loss: 0.9075 - val_accuracy: 1.0000
Epoch 79/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9449 - accuracy: 1.0000 - val_loss: 0.9073 - val_accuracy: 1.0000
Epoch 80/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9447 - accuracy: 1.0000 - val_loss: 0.9071 - val_accuracy: 1.0000
Epoch 81/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9445 - accuracy: 1.0000 - val_loss: 0.9069 - val_accuracy: 1.0000
Epoch 82/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9443 - accuracy: 1.0000 - val_loss: 0.9067 - val_accuracy: 1.0000
Epoch 83/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9441 - accuracy: 1.0000 - val_loss: 0.9065 - val_accuracy: 1.0000
Epoch 84/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9439 - accuracy: 1.0000 - val_loss: 0.9063 - val_accuracy: 1.0000
Epoch 85/100
50/50 [==============================] - 1s 21ms/step - loss: 0.9436 - accuracy: 1.0000 - val_loss: 0.9061 - val_accuracy: 1.0000
Epoch 86/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9434 - accuracy: 1.0000 - val_loss: 0.9058 - val_accuracy: 1.0000
Epoch 87/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9432 - accuracy: 1.0000 - val_loss: 0.9056 - val_accuracy: 1.0000
Epoch 88/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9429 - accuracy: 1.0000 - val_loss: 0.9054 - val_accuracy: 1.0000
Epoch 89/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9427 - accuracy: 1.0000 - val_loss: 0.9052 - val_accuracy: 1.0000
Epoch 90/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9425 - accuracy: 1.0000 - val_loss: 0.9049 - val_accuracy: 1.0000
Epoch 91/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9423 - accuracy: 1.0000 - val_loss: 0.9048 - val_accuracy: 1.0000
Epoch 92/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9421 - accuracy: 1.0000 - val_loss: 0.9045 - val_accuracy: 1.0000
Epoch 93/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9418 - accuracy: 1.0000 - val_loss: 0.9043 - val_accuracy: 1.0000
Epoch 94/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9416 - accuracy: 1.0000 - val_loss: 0.9041 - val_accuracy: 1.0000
Epoch 95/100
50/50 [==============================] - 1s 23ms/step - loss: 0.9414 - accuracy: 1.0000 - val_loss: 0.9040 - val_accuracy: 1.0000
Epoch 96/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9413 - accuracy: 1.0000 - val_loss: 0.9038 - val_accuracy: 1.0000
Epoch 97/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9411 - accuracy: 1.0000 - val_loss: 0.9036 - val_accuracy: 1.0000
Epoch 98/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9409 - accuracy: 1.0000 - val_loss: 0.9035 - val_accuracy: 1.0000
Epoch 99/100
50/50 [==============================] - 1s 22ms/step - loss: 0.9408 - accuracy: 1.0000 - val_loss: 0.9034 - val_accuracy: 1.0000
Epoch 100/100
50/50 [==============================] - 1s 23ms/step - loss: 0.9407 - accuracy: 1.0000 - val_loss: 0.9032 - val_accuracy: 1.0000

In [ ]:
model.evaluate(X_test, y_test)

17/17 [==============================] - 0s 9ms/step - loss: 67761.3594 - accuracy: 1.0000

[67761.359375, 1.0]