<a href="https://colab.research.google.com/github/RoyalWeden/AICamp21/blob/main/AI_Camp_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is the project or what does the project do?

The goal of my project is to predict the amount of jobs created and retained from a loan to a business, as well as to predict the dollar amount of a loan to approve.

# How is it helpful for the community or environment?

The main benefits of this project is that it allows banks to choose what businesses to provide loans to that best help the job market and how much of a loan to provide the business with. Right now especially, a lot of people have lost their jobs due to the pandemic, and many business are low on money to provide for infrastructure, employees, and the products and servies they sell.

# How did I implement it using the tools discussed in the course? What machine learning concepts were used?

I implemented this project through a artificial neural network. As inputs, this neural network takes in the borrower's city, the borrower's state, bank name, bank state, North American industry classification system code, loan term (months), number of business employees, is a new or existing business, is urban or rural. As outputs, this neural network gives the number of jobs created, the number of jobs retained, and the gross amount of loan approved by the bank.

The data I am using to create the neural network is from kaggle with information on Small Business Administration Loans. As discussed by the data provider, Sean, "small businesses have been the primary source of employment in the United States. Helping small businesses with job creation, reduces unemployment, and as such, promotes economic growth."

# Authenticating Kaggle API using kaggle.json

I found this code to authenticate the Kaggle API from a public Colab notebook that you can view [here](https://colab.research.google.com/github/corrieann/kaggle/blob/master/kaggle_api_in_colab.ipynb#scrollTo=0HtGf0HEXEa5).

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 66 bytes

# Downloading SBA Loans Case dataset

The SBA Loans Kaggle data set can be viewed on Kaggle [here](https://www.kaggle.com/larsen0966/sba-loans-case-data-set). Furthermore, to get more information on the dataset, go [here](https://amstat.tandfonline.com/doi/full/10.1080/10691898.2018.1434342).

In [4]:
!kaggle datasets download -d larsen0966/sba-loans-case-data-set

Downloading sba-loans-case-data-set.zip to /content
  0% 0.00/112k [00:00<?, ?B/s]
100% 112k/112k [00:00<00:00, 33.8MB/s]

In [5]:
!unzip sba-loans-case-data-set.zip

Archive:  sba-loans-case-data-set.zip
  inflating: SBAcase.11.13.17.csv

In [6]:
import pandas as pd

sba_loans_df = pd.read_csv('SBAcase.11.13.17.csv')
sba_loans_df.head()

   Selected  LoanNr_ChkDgt  ...       xx Default
0         0     1004285007  ...  16175.0       0
1         1     1004535010  ...  17658.0       0
2         0     1005005006  ...  16298.0       0
3         1     1005535001  ...  16816.0       0
4         1     1005996006  ...  24103.0       0

[5 rows x 35 columns]